<div class="card my-4">
  <h5 class="card-header">ジャンル検索</h5>
  <div class="card-body">
    <% @genres.each do |genre| %>
		<span>
      <%= link_to genre.name, genre_search_path('search[value]': genre.id) %>
		</span>
		<% end %>
	</div>
</div>

<div class="card my-4">
    <h5 class="card-header">キーワード検索</h5>
    <div class="card-body">
    <%= form_with url: search_path, method: :get, local: true do |f| %>
    	<div class="input-group">
		  <%= f.text_field 'search[keyword]', size: "26x4", placeholder: 'キーワードから探す' %><br>
      <%= f.submit :"検索", class:  "btn btn-success mt-2" %>
      </div>
    <% end %>
	  </div>
</div>
