<div class="container">
  <div class="about-contents">
    <div class="row d-flex justify-content-center">
      <h4>My Diaryとは</h4>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="row d-flex justify-content-center">
          <h5>日々の頑張りを記録に。</h5>
        </div>

        <div class="row mb-3 d-flex justify-content-center main-text">
          <p>My Diaryは日々の頑張りを記録する自分日記です。<br>
            あなただけの、
           自分史を作りましょう。</p>
        </div>
      </div>
    </div>

    <div class="row about-text">
      <div class="col-lg-6 mt-4">
        <h5>1日の頑張りを記録しよう</h5>
        <p>趣味や仕事、資格の勉強、スポーツなど、</p><br>
        <p>1日の頑張りを記録しましょう。</p><br>
        <p>写真と一緒に投稿することもできます。</p><br>
      </div>
      <div class="col-lg-6">
        <img class="mt-5" src="/assets/about/about1.jpg" width="400" height="280">
      </div>
    </div>

    <div class="row about-text">
      <div class="col-lg-6 order-lg-last mt-5">
        <h5>仲間を探そう</h5>
        <p>同じ志を持った仲間を見つけて、</p><br>
        <p>いいねやコメントで褒め合いましょう。</p><br>
        <p>仲間を作り、挫折しない環境を作りましょう。</p>
      </div>
      <div class="col-lg-6">
        <img class="mt-5" src="/assets/about/about2.jpg" width="400" height="280">
      </div>
    </div>

    <div class="row mt-5 d-flex justify-content-center main-text">
        <h5 class="justify-content-center">便利な機能が盛りだくさん</h5>
    </div>
    <div class="row about-item">
      <div class="col-lg-4">
          <img class="mt-5 mb-3" src="/assets/about/key.png" width="100" height="100"><br>
          <strong>公開設定機能</strong>
          <p>公開する日記、自分だけの日記を<br>
          選択することができます。</p>
      </div>
      <div class="col-lg-4">
          <img class="mt-5 mb-3" src="/assets/about/users.png" width="100" height="100"><br>
          <strong>フォロー機能</strong>
          <p>同じ趣味や同じ志を持つ仲間を<br>
          フォローしましょう。</p>
      </div>
      <div class="col-lg-4">
          <img class="mt-5 mb-3" src="/assets/about/callender.png" width="100" height="100"><br>
          <strong>カレンダー機能</strong>
          <p>日記とカレンダーがリンクしているので<br>
          頑張りが一目で確認できます。</p>
      </div>
    </div>

    <div class="row about-item">
      <div class="col-lg-4">
        <img class="mt-5 mb-3" src="/assets/about/search.png" width="100" height="100"><br>
        <strong>検索機能</strong>
          <p>ジャンル検索やワード検索を活用して<br>
          仲間を見つけましょう。</p>
      </div>
      <div class="col-lg-4">
        <img class="mt-5 mb-3" src="/assets/about/ranking.png" width="100" height="100"><br>
        <strong>ランキング機能</strong>
        <p>当月と先月の<br>
        いいねが多い日記を確認できます。</p>
      </div>
      <div class="col-lg-4">
        <img class="mt-5 mb-3" src="/assets/about/good.png" width="100" height="100"><br>
        <strong>いいね・コメント機能</strong>
        <p>積極的にいいね、コメントをして<br>
        お互いに褒め合いましょう。</p>
      </div>
    </div>


    <div class="row d-flex justify-content-center">
      <div class="about-button">
        <%= link_to "始める", new_user_registration_path %>
      </div>
    </div>

  </div>
</div>
