/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kosugi Maru', sans-serif;

}


footer {
  height:100%;
  background-color:#bfbfbf;
  color:#FFF;
  text-align: center;
  bottom: 0;
}


main {
  min-height: 100vh;
  background-color: #f8f8f8;
}

.background-image {
  background-image: image-url('top2.jpg');
    background-size: cover;
    position: fixed;
    width: 100%;
}

.login_main, .top_main {
    margin: 10px auto;
    width: 420px;
    height: 600px;
    text-align: center;
    background-color: rgba(255,255,255,0.75);
    border-radius: 4px;
    padding: 20px;
}

.btn-outline-secondary {
    color: #6c757d;
    background-color: transparent;
    background-image: none;
    border-color: #6c757d;
    border: 1px solid;
}

.navbar-brand {
  width: 150px;
}




