// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card {
  margin-bottom: 20px;
}

.new-form {
  background-color: rgba(255,255,255,0.75);
  border-radius: 4px;
  text-align: center;
  padding: 20px;
}

.form-group {
  margin: 40px 10px;
}

.ranking-text {
  margin-bottom: 30px;
}

.ranking-body {
  text-align: center;
}


.fas {
  color: #707070;
  margin-right: 10px;
}

.fa-heart {
  color: #b7282e;
}

.fa-hand-point-right {
  color: #d04f97;
}

.nav-icon {
  margin-right: -8px;
}

.article-show {
  margin: 5px auto;
}

.article-button {
  margin-top: 20px;
  margin-bottom: 50px;
}

.article-comment {
  margin: 1px 10px;
}