// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/








.login_inputs input {
    display: block;
    width: 330px;
    height: 50px;
    padding-left: 15px;
    font-size: 13px;
    margin: 5px auto;
}


.title {
  margin: 20px;
}


.actions {
    margin-bottom: 20px;
}

